Repository mlbvn/handson-ml2-vn, pull requests merged in 2021-07, with the labels that each got.

#86 Dịch notebook chap 8
  08_dimensionality_reduction.ipynb
Labels: chap: dimensionality reduction, internal: update

#87 Dịch notebook chap 04
  04_training_linear_models.ipynb
Labels: chap: training models, internal: update

#92 Dịch notebook chap 05
  05_support_vector_machines.ipynb
Labels: chap: svm, internal: update

#89 Dịch Jupyter Notebook Chapter 6
  06_decision_trees.ipynb
Labels: chap: decision trees, internal: update

#90 Dịch Jupyter Notebook Chapter 7
  07_ensemble_learning_and_random_forests.ipynb
Labels: chap: ensemble learning & random forests, internal: update

#88 Dịch notebook ch09
  09_unsupervised_learning.ipynb
Labels: chap: unsupervised learning techniques, internal: update

#91 math_linear_algebra - Part 1
  math_linear_algebra.ipynb
Labels: internal/ update

#94 math_differential_calculus
  math_differential_calculus.ipynb
Labels: internal/ update

#96 Dịch math_linear_algebra - Part 2
  math_linear_algebra.ipynb
Labels: internal/ update
